* {
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    border-radius: 8px;
}

window#waybar {
    background: linear-gradient(to bottom, #282a36 0%, #202023 100%);
    color: #ffffff;
    font-size: 16px;
}

#workspaces {
    background: rgba(255, 255, 255, 0.1);
    margin: 0 15px;
    border-radius: 28px 0 28px 0px;
}

#workspaces button.persistent {
    font-size: 22px;
}

#workspaces button {
    padding: 0 20px;
    color: #E95420;
    /* Neon pink */
    border: none;
}

#workspaces button.empty {
    color: #5c5c5c;
}

#workspaces button:hover {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 28px 0 28px 0px;
}

#workspaces button.active {
    background: #E95420;
    /* Neon pink */
    color: #fff;
    border-radius: 28px 0 28px 0px;
}

#custom-wlogout{
    font-size: 22px;
    padding: 0 10px;
}

#custom-layout,
#language,
#custom-pacman,
#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#bluetooth {
    padding: 0 10px;
    font-size: 14px;
}