* {
    font-family: "Noto Sans", sans-serif;
    border-radius: 8px;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    border: 0px solid rgba(255, 255, 255, 0.1);
}

#workspaces {
    background: rgba(0, 0, 0, 1);
    margin: 0 15px;
    border-radius: 28px 0 28px 0px;
}

#workspaces button.persistent {
    font-size: 28px;
}

#workspaces button {
    padding: 0 20px;
    border: none;
}

#workspaces button.empty {
    color: rgba(255, 255, 255, 0.3);
}

#workspaces button:hover {
    border-radius: 28px 0 28px 0px;
    background: rgba(255, 255, 255, 0.2);
}

#workspaces button.active {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 28px 0 28px 0px;
}

#custom-powermenu,
#custom-layout,
#language,
#custom-pacman,
#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#bluetooth {
    padding: 0 15px;
    font-size: 14px;
}

#custom-pacman,
#network,
#pulseaudio{
    font-size: 20px;
}

#custom-pacman.none {
    color: rgb(13, 211, 13);
}

#custom-pacman.updates {
    color: rgb(236, 10, 10);
}