* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
    border-radius: 8px;
}

window#waybar {
    background: rgba(12, 12, 12, 0.7); /* Darker background */
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

#workspaces {
    background: rgba(30, 30, 30, 0.4);
}

#workspaces button {
    padding: 0 18px;
    color: #E94560; /* Neon pink */
    border: none;
}

#workspaces button:hover {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
}

#workspaces button.active {
    background: #E94560;
    color: #fff;
}

#custom-wlogout{
    padding: 0 20px;
    margin: 0 8px;
}

#custom-wlogout:hover{
    background-color: #FF2079; /* Hot pink */
    color: #fff;
}

#custom-updates,
#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#bluetooth,
#tray {
    padding: 0 12px;
    margin: 4px;
}

#custom-updates:hover,
#clock:hover,
#cpu:hover,
#memory:hover,
#network:hover,
#pulseaudio:hover,
#bluetooth:hover,
#tray:hover {
    background: rgba(255, 255, 255, 0.1);
}

#cpu {
    color: #00DBDE;
}

#memory {
    color: #FC00FF;
}

#network {
    color: #89B4FA;
}

#pulseaudio {
    color: #F5C2E7;
}

#bluetooth {
    color: #21D4FD;
}

#clock {
    color: #F9E2AF;
}

#custom-updates {
    color: #FF9A8B;
}

#custom-wlogout {
    color: #FF2079;
}

#tray > * {
    padding: 0 5px;
}
